.navbar-background {
  background-color: #013378; }

.logo-ford {
  width: 150px; }

.boton-buscar {
  color: white;
  border: 1px solid white; }
  .boton-buscar:hover {
    background-color: rgba(255, 255, 255, 0.705);
    color: #013378;
    text-size-adjust: bolder;
    border: 1px solid #013378; }

.billetera {
  display: flex;
  margin-left: 10px;
  background-color: rgba(110, 120, 129, 0.562);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  padding: 10px; }

#cartera {
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700; }

.cartas-ford {
  display: flex;
  justify-content: center;
  margin: 40px; }

.cartas-autos-ford {
  width: 250px; }

.carta-ford {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.6s; }
  .carta-ford:hover {
    box-shadow: 0px 6px 12px rgba(56, 56, 56, 0.6);
    transform: translateY(-15px);
    cursor: pointer; }

.container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 30px 0px;
  width: 100%; }

.button-carta-ford {
  font-size: 16px;
  padding: 20px 100px;
  background-color: white;
  border: none;
  border-radius: 10px;
  transition: 0.6s;
  cursor: pointer; }
  .button-carta-ford:hover {
    transition: 0.4s;
    background-color: #033b8a;
    color: white; }

.video-raptor {
  width: 100%; }

.img-raptor {
  margin: 20px;
  width: 400px;
  align-items: center; }

.contenedor-ford {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; }

.texto-informativo-raptor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  max-width: 1200px;
  width: 100%; }
  .texto-informativo-raptor p {
    text-align: center;
    width: 80%; }

.contenedor__texto__informativo__ford {
  display: flex;
  justify-content: center; }

.texto__informativo__ford {
  width: 90%;
  text-align: center; }

.contenedor__modelo__t {
  margin: 40px 0px;
  color: white;
  background-color: #013378;
  border-radius: 5px; }

.titulo__modelo__t {
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin: 20px 0px; }

.section_formulario {
  display: flex;
  justify-content: center;
  margin: auto; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 400px;
  align-items: center;
  margin: 3.3% 0px;
  border: 2px solid #6b6b6b;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
  box-sizing: content-box; }

.titulo_formulario {
  width: 100%;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

label {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  width: 100%; }

.inputs {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  border-radius: 5px;
  margin-bottom: 20px; }

textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%; }

.boton_enviar {
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px 100%;
  transition: all 0.4s;
  margin-left: -70px; }
  .boton_enviar:hover {
    background-color: antiquewhite;
    background-color: #00b0c7;
    color: white;
    border: none;
    box-shadow: 0px 2px 12px; }

.contenedor_informacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5.01% 0px;
  min-height: 80%; }
  .contenedor_informacion-contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 7%;
    width: 300px;
    height: 400px;
    gap: 20px 0px;
    cursor: pointer;
    transition: all 1s; }
    .contenedor_informacion-contacto img {
      width: 100px; }
    .contenedor_informacion-contacto:hover {
      background-color: white;
      border: 2px solid rgba(0, 0, 0, 0.1);
      transform: translateY(-10px);
      box-shadow: 0px 7px 12px rgba(56, 56, 56, 0.5); }

.mensaje__aviso {
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: #2595ff;
  padding: 30px;
  margin: 0px;
  transition: all 0.3s; }
  .mensaje__aviso:hover {
    background-color: #3d3d3d; }
  .mensaje__aviso-link {
    color: white;
    text-decoration: none; }
    .mensaje__aviso-link:hover {
      color: #8aedff;
      text-decoration-line: underline; }

footer {
  display: flex;
  background-color: #013378;
  justify-content: center;
  align-items: center; }
  footer a {
    display: flex;
    justify-content: space-between;
    margin: 0px 10%;
    font-size: 16px;
    color: white;
    cursor: pointer; }

.redes__sociales {
  width: 50px;
  height: 50px; }

.logo-ford-footer {
  width: 150px; }

@media (max-width: 957px) {
  .logo-ford {
    width: 170px; }
  .contenedor_boton-menu {
    display: block;
    height: 50px;
    margin-left: -90%; }
  .contenedor_boton-menu:hover {
    background-color: #033b8a; }
  .carta-ford {
    margin: 30px 50px; }
  .nav-bar {
    display: none;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 120px; }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    justify-content: center; }
  .texto-informativo-raptor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
    justify-items: center; } }

@media (max-width: 819px) {
  footer {
    flex-direction: column;
    gap: 40px; }
  .redes__sociales {
    width: 50px;
    height: 50px; }
  .logo-ford-footer {
    width: 150px; } }

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
    justify-items: center; }
  .texto-informativo-raptor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
    justify-items: center; }
  .contenedor_informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px; } }

@media (max-width: 576px) {
  .logo-ford {
    width: 150px; }
  .contenedor_informacion {
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 30px 0px; }
  .cartas-autos-ford {
    width: 80%; }
  .button-carta-ford {
    padding: 20px 80px; }
  .img-raptor {
    width: 80%; }
  .video-raptor {
    width: 100%; }
  .section_formulario {
    width: 90%; } }

@media (max-width: 393px) {
  .button-carta-ford {
    padding: 20px 60px; }
  footer {
    flex-direction: column;
    gap: 40px; }
  .redes__sociales {
    width: 50px;
    height: 50px; }
  .logo-ford-footer {
    width: 150px; } }

@media (max-width: 353px) {
  .button-carta-ford {
    padding: 20px 40px; } }

body {
  grid-template-rows: auto 1fr auto;
  letter-spacing: 0.15em;
  line-height: 1.6; }

h1 {
  text-align: center;
  color: #013378;
  border-bottom: 1px solid #00409b; }

p {
  margin: 20px 0px; }

body {
  background-color: #ffffff; }

.titulo-pagina-compras {
  background: linear-gradient(#013378 56%, white);
  color: white;
  text-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.5);
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-stretch: condensed; }

.contenedor-p-compras {
  display: flex;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 2px 2px 12px 2px rgba(68, 68, 68, 0.5);
  width: 160vh;
  height: 65vh;
  align-items: center;
  justify-content: center;
  margin: 34px auto; }
  .contenedor-p-compras-imagen-vehiculo {
    width: 100%;
    margin: 50px; }
  .contenedor-p-compras-informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 0px 50px;
    width: 100%;
    height: 100%;
    padding: 0px; }
    .contenedor-p-compras-informacion-titulo-Auto {
      font-weight: bolder;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .contenedor-p-compras-boton-confirmar {
    background-color: #013378;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    box-shadow: 2px 2px 12px 2px rgba(68, 68, 68, 0.5);
    transition: 0.3s; }
    .contenedor-p-compras-boton-confirmar:hover {
      width: 105%;
      height: 80px; }

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; }
