footer{
    display: flex;
    background-color: rgb(1,51,120);
    border-top: 1px solid white;
    padding: 30px;
    justify-content: center;
    align-content: center;

        & a{
            display: flex;
            justify-content: space-around;
            margin: 0px 10%;
            font-size: 16px;
            color: white;
            cursor: pointer;
        }
}
.redes__sociales{
    width: 40px;
}